html {
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
	height: 100%;
	text-transform: uppercase;
}

/* Title */
.sbfp-title {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 35%;
	margin-top: -80px;
	float: center;
	padding: 0;
	margin: 0;
	padding: 0px 0px;
	letter-spacing: 2px;
	overflow: hidden;
	z-index: 1;
}

.sbfp-title .sbfp-title-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: ;
}

.sbfp-title .container {
	position: relative;
	font-size: 30px;
	text-align: center;
	color: black;
}

.sbfp-videos .container-fluid {
	background-color: white;
	position: absolute;
}

/* Section: Videos */
.latest-videos-title, .current-lps-title, .past-lps-title,
.oneoffs-videos-title, .machinima-videos-title {
	text-align: center;
}

#myCarousel {
}
.carousel-inner img {
	width: 100%;
}
