html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

/*
section {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: 100% 100%;
	z-index: 2;
}
*/

.sbfp-navbar-primary {
	border-bottom: 0px solid #1a1a1a;
}

.sbfp-navbar-item:hover {
	color: #1a1a1a;
}

#navbar-nav-adjustment {
	width: 113.61px;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link,
.navbar .navbar-nav .nav-item .nav-link {
	color: #e5e5e5;
	font-weight: 500;
	font-size: 20px;
	float: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:hover {
	color: #b3b3b3;
}

.navbar-custom-primary {
	background-color: #0d0d0d;
}

.navbar-custom-secondary {
	background-color: #0d0d0d;
}

#navbar-primary-links, #navbar-secondary-links {
	margin: 0% 10% 0% 10%;
	display: flex!important;
	flex-basis: auto;
	flex-grow: 1;
}

@media (max-width: 575px) {
	#navbar-nav-adjustment {
		width: 68.88;	
	}

	.navbar .navbar-collapse .navbar-nav .nav-item .nav-link,
	.navbar .navbar-nav .nav-item .nav-link {
		font-weight: 300;
		font-size: 15px;
	}
	/*#navbar-secondary-links {
		display: block;
		flex-basis: 100%;
		flex-grow: 1;
	}*/
}


/* Title */
.sbfp-title {
	position: fixed;
	width: 100%;
	height: 30%;
	top: 20%;
	float: center;
	margin: 0;
	padding: 0px 0px;
	letter-spacing: 2px;
	overflow: hidden;
	z-index: -1;
	border: 0px solid transparent;
}

.sbfp-title-text {
	text-transform: uppercase;
	/*font-weight: 700;
	font-size: 70px;*/
	color: #ff9900; /*#ff9900;*/
}

.sbfp-title-bg {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.sbfp-title .container {
	position: relative;
	font-size: 30px;
	text-align: center;
	color: black;
}

@media (max-width: 575px) {
	.sbfp-title .container {
		font-size: 20px;
	}
}

/* Section: Videos */
.content {
	/*background: transparent;*/
}

.videos-title {
	padding: 65px 2px 2px 2px;
}

.videos-title {
	text-align: center;
}

.newest-uploaded, .lps, .additional-content,
.oneoffs-videos-title, .machinima-videos-title {
        /*font-family: 'Open Sans', sans-serif;*/
	font-weight: 700;
	font-size: 60px;
	/*float: left;*/
}

.sbfp-newest-uploaded {
	position: fixed;
	top: 45%;
	width: 100%;
	height: 45%;
	z-index: 0;
	/*border-right: 75px solid transparent;
	border-left: 75px solid transparent;*/
}

.sbfp-newest-uploaded-bg {
	position: relative;
	height: 100%;
	margin: 0% 17% 0% 17%;
	/*background: #0d0d0d;*/
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-filter: brightness(40%);
	transition: 0.2s;
}

.sbfp-newest-uploaded-bg:hover {
	-webkit-filter: brightness(100%);
	transition: 0.2s;
}

.newest-uploaded-text, .carousel-video-text,
.lps-text {
	color: #ff9900;/*#c3c3c3;*/
}

.carousel-video-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #e5e5e5;
}

/*
.sbfp-lps {
	position: relative;
	border-top: 0px solid transparent;
	border-right: 50px solid #0d0d0d;
	border-bottom: 0px solid transparent;
	border-left: 50px solid #0d0d0d;	
}
*/

.sbfp-lps {
	background: #1a1a1a; /*#333333;*/
	z-index: 20;
}

.lps-mini-gallery {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0% 0% 0% 0%;/*margin: 6% 0% 2% 0%;*/
}

.lps-grid {
	/*display: inline-block;*/
	/*width: calc(50% - 4px);*/
	margin: right
}

.lps-grid-images {
	display: flex;
	flex-wrap: wrap;
	margin: 0% 2% 0% 2%;
}

.lps-grid-image-textbox {
	display: inline;
	/*height: 100%;*/
	width: 25%;
}

.lps-grid-image-textbox:hover {
	cursor: pointer;
}

.lps-grid-image {
	position: relative;
	width: 100%;
	-webkit-filter: brightness(40%);
	transition: 0.2s

}

.lps-grid-image:hover {
	-webkit-filter: brightness(100%);
	transition: 0.2s;
	/*opacity: 0.3;*/
	/*cursor: pointer;*/
}

.lps-grid-more-text {
}

.videos-title-line {
	/*transform: scale(1, 1);
	margin-right: 20px;
	transform-origin: 100% 50%;
	width: 260px; height: 2px;
	display: inline-block;
	background-color: black;
	border-radius: 1000px;
	vertical-align: middle;*/
	stroke: rgb(0, 0, 0);
	stroke-width: 2;
}

.sbfp-additional-content {
	position: relative;
	border-top: 0px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 100px solid transparent;	
}

.sbfp-additional-content-bg {
	background: /*#FF8C00;*/;
}

.additional-content-text {
	color: #ff9900;
}

.additional-content-link {
	width: 100%;
}

.link-image {
	width: 100%;
}

/* Developed by */
.sbfp-developed-by {
	background: #0d0d0d;
}

.sbfp-developed-by-bg {
	margin-top: 0.7%;
	margin-left: 5%;
}

.developed-by-text {
	color: #e5e5e5;
}

@media (max-width: 575px) {
	.developed-by-text {
		font-weight: 400;	
		font-size: 13px;
	}
}
