html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

/*
section {
	width: 100%;
	height: 100%;
	background-attachment: fixed;
	background-size: 100% 100%;
	z-index: 2;
}
*/

/* Title */
.sbfp-title {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0%;
	float: center;
	margin: 0;
	padding: 0px 0px;
	letter-spacing: 2px;
	overflow: hidden;
	z-index: 1;
	border: 0px solid transparent;
}

.sbfp-title-text {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 70px;
	color: #ff9900;/*#e5e5e5;*/ /*black;*/
}

.sbfp-title .sbfp-title-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.sbfp-title .container {
	position: relative;
	margin-top: 200px;
	font-size: 30px;
	text-align: center;
	color: black;
}

/* Section: Videos */
.content {
	/*background: transparent;*/
}

.videos-title {
	padding: 65px 2px 2px 2px;
}

.videos-title {
	text-align: center;
}

.newest-uploaded, .lps, .additional-content,
.oneoffs-videos-title, .machinima-videos-title {
        /*font-family: 'Open Sans', sans-serif;*/
	font-weight: 700;
	font-size: 60px;
	margin: 0px 0px 0px 0px;
	/*float: left;*/
	float: left;
}

.sbfp-newest-uploaded {
	position: relative;
	/*margin: 3% 14% 0% 14%;*/
	border-top: 0px solid transparent;
	border-right: 50px solid #1a1a1a;/*darkest gray*/
	border-bottom: 0px solid transparent;
	border-left: 50px solid #0d0d0d;
}

.sbfp-newest-uploaded-bg {
	background: #333333;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.newest-uploaded-text, .carousel-video-text,
.lps-text {
	color: #ff9900;/*#c3c3c3;*/
}

.sbfp-newest-uploaded-bg-color {
	/*background-color: #FF8C00;*/
	background-color: transparent;
	filter: brightness(50%);
}

.sbfp-newest-uploaded-bg-color:hover {
	filter: brightness(100%);
	/*background-color: yellow;*/
}

.carousel-video-text {
	font-weight: 600;
	font-size: 20px;
}

.sbfp-lps {
	position: relative;
	/*margin: 2% 14% 0% 14%;*/
	border-top: 0px solid transparent;
	border-right: 50px solid #0d0d0d;
	border-bottom: 0px solid transparent;
	border-left: 50px solid #0d0d0d;	
}

.sbfp-lps-bg {
	background: transparent; /*#333333;*/
}

.lps-mini-gallery {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2% 0% 2% 0%;/*margin: 6% 0% 2% 0%;*/
}

.lps-grid {
	/*display: inline-block;*/
	/*width: calc(50% - 4px);*/
	margin: right
}

.lps-grid-images {
	display: flex;
	flex-wrap: wrap;
	margin: 0% 2% 0% 2%;
}

.lps-grid-image-textbox {
	display: inline;
	/*height: 100%;*/
	width: 33.2%;	
}

.lps-grid-image-textbox:hover {
	cursor: pointer;
}

.lps-grid-image {
	position: relative;
	width: 100%;
	filter: brightness(40%);
}

.lps-grid-image:hover {
	filter: brightness(100%);
	/*opacity: 0.3;*/
	/*cursor: pointer;*/
}

.lps-grid-more-text {
}

.videos-title-line {
	/*transform: scale(1, 1);
	margin-right: 20px;
	transform-origin: 100% 50%;
	width: 260px; height: 2px;
	display: inline-block;
	background-color: black;
	border-radius: 1000px;
	vertical-align: middle;*/
	stroke: rgb(0, 0, 0);
	stroke-width: 2;
}

.sbfp-additional-content {
	position: relative;
	border-top: 0px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 0px solid transparent;
	border-left: 100px solid transparent;	
}

.sbfp-additional-content-bg {
	background: /*#FF8C00;*/;
}

.additional-content-text {
	color: #ff9900;
}

.additional-content-link {
	width: 100%;
}

.link-image {
	width: 100%;
}
.
